body, h1, h2, h3, h4, h5, h6, div, p, ul, ol, dl, li, dt, dd, a, span, i, input, img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-size: 15px;
  font-family: 'Alibaba';
  //font-family: 'Microsoft YaHei UI Light';
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul, ol, dl, li, dt, dd {
  list-style: none;
}

input, img {
  border: 0;
  outline: 0;
}
