.el-menu:not(.el-menu--collapse) {
  width: 200px;
}

.el-submenu__title,
.el-menu-item {
  height: 40px !important;
  line-height: 40px !important;
}

.el-menu-item.is-active {
  background-color: rgb(0, 150, 136) !important;
}

.el-submenu__title:hover,
.el-menu-item:hover {
  background-color: rgb(0, 150, 136) !important;
  color: #fff !important;
}

.el-submenu__title:hover i,
.el-menu-item:hover i {
  color: #fff !important;
}

.el-pagination {
  margin: 10px 0;
  display: inline-block;
  float: right;
}

.el-table-column--selection .cell {
  padding-right: 10px;
}

.main-card {
  margin-top: 15px;
}

.el-pagination {
  font-weight: 400;
}

.box-card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.el-card__body {
  padding: 15px;
}
